/* responsibe for mobile */
@media screen and (max-width:576px) {
    html {
        font-size: 14px;
    }

    /* nav Bar */
    .logo {
        margin-bottom: 0;
    }

    .nav-items {
        display: none;
    }

    .nav-bar {
        margin-top: 10px;
    }

    .fa-bars {
        display: block;
        cursor: pointer;
        font-size: 25px;
    }

    /* Hero Section */
    .hero h1 {
        margin-top: 50px;
    }

    .hero-text {
        max-width: 100%;
    }

    /* Quick list of Our Features */
    .quick-content {
        max-width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .quick-box {
        display: flex;
        flex-direction: column-reverse;
    }

    .quick-image {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* Features you will love & enjoy */
    .features-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .features-text {
        width: 100%;
    }

    .card {
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .features-btn { 
        position: relative;
        bottom: 90px;
    }

    /* Some Facts */
    .Some-Facts-title {
        text-align: center;
        margin-top: 0px;
    }

    .Some-Facts-text {
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .Some-Facts-card-box {
        margin-bottom: 40px;
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    /* footer section */
    .sponsors-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 50px;
    }

    .footer-text {}
}






/* responsib for tablet ********************************************************/
@media screen and (min-width:576px) and (max-width:992px) {
    html {
        font-size: 14px;
    }

    /* nav Bar */
    .logo {
        margin-bottom: 0;
    }

    .nav-items {
        display: none;
    }

    .nav-bar {
        margin-top: 30px;
        margin: 30px 50px 0 50px;
    }

    .fa-bars {
        display: block;
        cursor: pointer;
        font-size: 25px;
        margin-right: 30px;
    }

    /* Hero Section */
    .hero h1 {
        margin-top: 50px;
    }

    .hero-content-box {
        margin-top: 10px;
    }

    .hero-text {
        max-width: 80%;
    }

    /* Quick list of Our Features */
    .quick-content {
        max-width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .quick-box {
        display: flex;
        flex-direction: column-reverse;
    }

    .quick-image {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .quick-text {
        max-width: 80%;
        margin: 0 auto;
    }

    /* Features you will love & enjoy */
    .features-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .features-text {
        width: 100%;
        
    }

    .card {
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .features-btn {
        padding: 45px 48px;
        position: relative;
        bottom: 100px;
    }

    /* Some Facts*/
    .Some-Facts-title {
        text-align: center;
        margin-top: 0;
    }

    .Some-Facts-text {
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .Some-Facts-card-box {
        margin-bottom: 40px;
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    /* footer section */
    footer {}

    footer p {
        margin-bottom: 50px;
    }

    .sponsors-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 50px;
    }

    .footer-text {
        max-width: 100%;
        background-color: #FFF4E7;

    }


}




/*Responsive Design For Small phone */
@media screen and (min-width:320px) and (max-width:575px) {
    /* footer */



}